html, body {
	height: 100%;
}

a:hover {
	color: #ffffff;
	text-decoration: none;
}

.project-container {
	margin: 60px auto;
	width: 75%;
}

p {
	text-align: left;
	margin: auto;
	font-size: 1.2em;
}

.col-md-6 {
	padding: 0px 50px;
	clearfix: both;
}
/******************** WORK PAGE ********************/

.project-row__description {
	margin-bottom: 100px;
}

.main-content {
	margin-top: 200px;
}

.main-photo {
	margin-top: 50px;
}
.work-container {
	margin-top: 60px;
}

.work-description {
	padding: 40px;
}

.work-img {
  /*opacity: .5;*/
  position: relative;
  /*right: 300px;*/
	width: 90%;
	/*display: none;*/
}

.title-highlight {
	color: #02779E;
	position: relative;
	left: 15px;
}

.skills-group {
	list-style-type: none;
}

.skill-type {
	font-size: .75em;
	font-style: 'Source Sans Pro';
  font-weight: 400;
  text-transform: uppercase;
	margin: 4px;
	padding: 5px;
	display: inline-block;
	color: #02779E;
	border: solid #02779E 1px;
	border-radius: 8px;
}


/********** LINKS & BUTTONS **********/
.link-previous-page {
	margin-top: 51px;
	padding: 25px;
	background-color: #4099FF;
	text-align: center;
	margin-bottom: 0px;
}

.link-previous-page a {
	color: #ffffff;
}

.project-back-btn {
	float: left;
	padding-left: 50px;
	position: relative;
	bottom: 10px;
}

.next-project-btn {
	float: right;
	padding-right: 50px;
	position: relative;
	bottom: 10px;
}

/********** WORK DESCRIPTIONS AND PHOTOS **********/

.img-resize {
	width: 60%;
}

.img-phase {
	border: solid #D0D0D0 2px;
	border-radius: 10px;
	margin: 20px;
	width: 80%;
}

.work-description-info {
	padding: 30px;
/*	margin-bottom: 100px;
*/}

.work-description-detailed {
	text-align: left;
}

.social-link {
	color: #575757;
}
