html, body {
	height: 100%;
}

a:hover {
	color: #ffffff;
	text-decoration: none;
}

.project-container {
	margin: 60px auto;
	width: 75%;
}

p {
	text-align: left;
	margin: auto;
}

/********** LINKS & BUTTONS **********/
.link-previous-page {
	margin-top: 51px;
	padding: 25px;
	background-color: #4099FF;
	text-align: center;
	margin-bottom: 0px;
}

.link-previous-page a {
	color: #ffffff;
}

.project-back-btn {
	float: left;
	padding-left: 50px;
	position: relative;
	bottom: 10px;
}

.next-project-btn {
	float: right;
	padding-right: 50px;
	position: relative;
	bottom: 10px;
}

/********** WORK DESCRIPTIONS AND PHOTOS **********/

.img-resize {
	width: 60%;
}

.img-phase {
	border: solid #D0D0D0 2px;
	border-radius: 10px;
	margin: 20px;
	width: 80%;
}

.work-description-info {
	padding: 30px;
/*	margin-bottom: 100px;
*/}

.work-description-detailed {
	text-align: left;
}

.social-link {
	color: #575757;
}
