body {
  max-width: 1024px;
}
.row-margin-adjust {
	margin: 20px auto;
}

/*h2 {
	margin-top: 20px;
}*/

.summary-description, .experience-description {
	font-size: 1.5em;
	font-family: 'Source Sans Pro', sans-serif;
	line-height: 1.6em;
	padding: 0px 80px;
}

.row-margin-adjust {
	margin: 50px 0px;
}

ul {
  list-style-type: none;
}

li.skill-title {
  font-size: 1.5em;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
}

.list-adjust {
  margin-bottom: 40px;
  font-size: 1.5em;
  font-family: 'Source Sans Pro', sans-serif;
}
