body {
  max-width: 1024px;
}

p {
  font-size: 1.3em;
}

li {
  list-style-type: none;
  text-align: left;
}

.resume-block-title {
  margin-top: 80px;
}

.resume-time {
  color: #505050;
  position: relative;
  left: 10px;
}

/*.resume-block-info {
  margin-top: 40px;
}*/

.skills-block {
  width: 80%;
  margin: auto;
}
.skill-title {
  font-size: 1.3em;
  font-weight: 400;
}

.skill-container {
  background-color: #9EC5B9;
}
