.description-bg-color {
	background-color: #575757;
	width: 100%;
	height: auto;
	font-size: 1.5em;
	text-align: center;
}

.description-bg-color p {
	padding: 50px;
}

.link-bg-color {
	background-color: #00bce3;
}

h5 a {
	font-size: 1em;
	color: #ffffff;
}

/*.width-adjust {
	width: 80%;
	margin: 20px auto;
}*/
